body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}

#calculator {
  font-family: Roboto, Arial;
  background-color: black;
  max-width: 500px;
  overflow: hidden;
  background-color: hsl(0, 0%, 15%);
  box-shadow: 3px 3px 3px #17181c, -3px -3px 3px #676e7e;
}
#display {
  width: 100%;
  padding: 1.5rem 1rem;
  text-align: left;
  margin-bottom: 1.5rem;
  overflow-x: auto;
  display: block;
  font-size: 4rem;
  font-weight: bold;
  border: none;
  color: #ffffff;
  outline: none;
  background-color: transparent;
  box-shadow: inset 3px 3px 3px #17181c, inset -3px -3px 3px #676e7e;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  margin: 0.1rem;
  border: none;
  background-color: hsl(0, 0%, 30%);
  box-shadow: 3px 3px 3px #17181c, -3px -3px 3px #676e7e;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 40%);
}

button:active {
  background-color: hsl(0, 0%, 50%);
}

.operator-btn {
  background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover {
  background-color: hsl(35, 100%, 65%);
}

.operator-btn:active {
  background-color: hsl(35, 100%, 75%);
}
